{% extends 'base.html' %}

{% block content %}

<div>
<h1>Users</h1>
    
    {% for member in members %}
    <a href="/members/{{ member.id }}" class="medium_link"> {{member.first_name}} {{member.last_name}} 
    
            <!-- membership : {{member.membership}}
<br>

            Status : {%  if member.active == True %}
                        Activated
                    {% else %}
                        Deactivated
                    {%  endif %} -->
        </a>
    
    {% endfor %}
<br><br>
</div>
{% endblock %}