{% extends 'base.html' %}

{% block content %}
<div>
<h1> {{member.first_name}} {{member.last_name}}</h1>
<h3> Membership: {{member.membership}} </h3>

<h3> Status : {%  if member.active==True %}
                        Activated
                    {% else %}
                        Deactivated
                    {%  endif %}  </h3>

<h3>Attending:</h3>

<ul id="gym_class_list" >
    {% for gym_class in gym_classes %}
        <li id ="gym_class_list_element">
            <a class="medium_link" href="/classes/{{ gym_class.id }}">{{ gym_class.name }}</a>
        </li>
    {% endfor %}

</ul>
<hr><hr>
<a href="/members/{{ member.id }}/edit">Edit Member</a>


</div>
{% endblock %}