{% extends 'base.html' %}

{% block content %}
<div>
<h1> {{member.first_name}} {{member.last_name}}</h1>
<h3>  {{member.membership}} member, {%  if member.active==True %}
                        Activated
                    {% else %}
                        Deactivated
                    {%  endif %}  </h3>

<h3>Attending:</h3>

<ul id="gym_class_list" >
    {% for gym_class in gym_classes %}
        <li id ="gym_class_list_element">
            <a class="medium_link" href="/classes/{{ gym_class.id }}">{{ gym_class.name }}</a>
        </li>
    {% endfor %}

</ul>
<br>
<hr><hr><br>
<div>
    <form action="/bookings" method="post">
        <label for="member">Book this user into:</label>
        <select name="gym_class_id" id="gym_class_id">
            {% for gym_class in gym_classes_this_member_is_not_in %}
                
                <option value="{{ gym_class.id }}">
                    {{ gym_class.name }} 
                </option>
                    
            {% endfor %}
        </select>

        
        <input type="hidden" name="redirect_to" value="members">
        <input type="hidden" name="member_id" value="{{ member.id }}">

        <input class="button-action" type='submit' value="Book">
    </form>
</div>

<br><hr><hr><br>
<a href="/members/{{ member.id }}/edit">Edit Member</a>


</div>
{% endblock %}