{% extends 'base.html' %}

{% block content %}
<h1>Add a Class</h1>

<form action="/classes" method="post">
    <label for="class">Name:</label>
    <input name="name" id="name">
    
    <label for="class">Date Start:</label>
    <input type="datetime-local"  name="date_start" id="date_start">

    <label for="class">Repeating:</label>
    <select name="repeating" id="repeating">
        <option value="None">No Repeats</option>
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
    </select>

    <label for="class">Date End:</label>
    <input type="datetime-local" value="{{ current_year+1 }}-01-01T00:01" name="end_date" id="end_date" value="">

    <input class="button--action" type='submit' value="Add">
</form>

{% endblock %}