{% extends "base.html" %}
{% block content %}

<form action="/classes/{{gym_class.id}}/update" method="post">
    <div>
        <label for="title">Name:</label>
        <input type="text" id="name" name="name" value="{{gym_class.name}}" required autofocus>
    </div>

    <div>
        <label for="title">Start:</label>
        <input  type="datetime-local"  id="date_start" name="date_start" value="{{gym_class.date_start}}" required autofocus>
    </div>


    <div>
        <label for="title">Repeating:</label>
        <select name="repeating" id="repeating">
            <option value="None"  
                {% if gym_class.repeating== 'None' %} selected="selected"{% endif %}>
                    No Repeats
            </option>
            <option value="Weekly"
                {% if gym_class.repeating == 'Weekly' %}
                        selected="selected"
                    {% endif %}
                >Weekly
            </option>
            <option value="Monthly"
                {% if gym_class.repeating == 'Monthly' %}
                    selected="selected"
                {% endif %}
                >Monthly</option>
        </select>
    </div>


    <div>
        <label for="title">End:</label>
        <input  type="datetime-local"  id="end_date" name="end_date" value="{{gym_class.end_date}}" required autofocus>
    </div>

    <div>
        <label for="title">Capacity:</label>
        <input type="text" id="capacity" name="capacity" value="{{gym_class.capacity}}" required autofocus>
    </div>

    <button type="submit">Update Class</button>

</form>

{% endblock %}