{% extends 'base.html' %}

{% block content %}
<div>
<h1> Gym Class: {{gym_class.name}}</h1>

</div>

<div>
    <form action="/bookings" method="post">
        <label for="member">Book into this class:</label>
        <select name="member_id" id="member">
            {% for member in all_members_not_in_this_class %}
                
                <option value="{{ member.id }}">
                    {{ member.first_name }} {{ member.last_name }}
                </option>
                    
            {% endfor %}
        </select>


        <input type="hidden" name="redirect_to" value="classes">
        <input type="hidden" name="gym_class_id" value="{{ gym_class.id }}">

        <input class="button-action" type='submit' value="Book">
    </form>
</div>

<br><hr><hr><br>

<div>
<h3>Attending:</h3>
<ul class="show_members">
    {% for member in members_of_this_class %}
        <li>
            <a class="medium_link" href="/members/{{ member.id }}">{{member.first_name}}  {{member.last_name}} </a>
            <!-- Membership : {{ member.membership  }}
            Status : {%  if member.active==True %}
                        Activated
                    {% else %}
                        Deactivated
                    {%  endif %} -->
<!-- member active variable = {{  member.active }} -->
            
            <a class="small_link" href="/bookings/{{ gym_class.id}}/{{ member.id }}/delete">X</a>

            
        </li>
    {% endfor %}

</ul>

<br><hr><hr><br>
<a href="/classes/{{ gym_class.id }}/edit">Edit Class</a>

</div>
<br>
{% endblock %}