body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    /* background: rgb(221, 226, 229); */
}

.flex-grid {
    display: flex;
    /* width: 100%; */
}
.col {
    flex: 2 1 auto;
    /* width: 32%;
    margin-left: auto;
    margin-right: auto;
    align-items: middle; */
    border : 230px;
    
}

.flex-grid {
    display: flex;
}

.flex-grid-child-1 {
    width: 150px;
    justify: left;
}

.flex-grid-child-2 {
    width: 450px;
    padding-left:30px;
    padding-right:30px;
    justify: center;
}

.flex-grid-child-3 {
    width: 150px;
    justify: right;
}

/* .flex-grid > * {
    flex: 0 0 auto;
} */


a {
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgb(39, 126, 158);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;

}

.small_link{
    padding: 2px 1px;
    width: 20%;
    margin: 3px;
}

.medium_link{
    padding:10px 15px;
    width: 60%;
    margin: 3px;
}

a:hover {
    background: rgb(13, 149, 94);
}

.main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 3em 1.5em;
}

/* .navigation ul {
    border: 1px solid rgb(2, 24, 95);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
} */

ul {
    
    list-style: none;  margin: 0;  padding: 0; 
    
}

.show_members{
    width: 150%
}

.navigation ul {  border: 1px solid rgb(4, 77, 28);  
    list-style: none;  margin: 0;  padding: 0;  display: flex; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigation li { flex: 3;  }

.navigation ul {
    flex-wrap: nowrap;
}

a{

    border-radius: 25px;

}

nav a {

    border-radius: 0px;
}

@media all and (max-width: 1000px) {
    .navigation ul {
        flex-wrap: wrap;
    }
    
    .navigation li {
        flex: 1 1 50%;
    }

    .navigation .user {
        flex: 1 1 33.33%;
    }
}

@media all and (max-width: 480px) {
    .navigation li {
        flex-basis: 100%;
    }

    .navigation .user {
        flex-basis: 50%;
    }
}



input, select, button {
    border-radius: 25px;
    border: 2px solid #9ec5f1;
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#gym_class_list{
    
    border: 1px dotted rgb(178, 190, 228);
}

#gym_class_list_element{
    
    padding: 5px;
}



nav li a{
    text-decoration: none;
}

nav li a:visited{
    color: white;
}

nav li{
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;
}

#content{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto;
}


