<!DOCTYPE html>
<html>
<head>
    <title>Gym Organiser</title>
    
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}"> -->

    </head>
    <body>
    <main>

    <div class="main">
        <nav class="navigation">
            <ul>
                <li><a href="/classes">Classes</a></li>
                <li><a href="/classes/new">Add Class</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/members/new">Add Member</a></li>
                <li><a href="/classes/calendar">Calendar</a></li>
            </ul> 
        </nav>
        
    </div>

    <section id="content">
        <div class="flex-grid">
            <div class="flex-grid-child-1">
                    <img src=" {{ url_for('static', filename='img/gym_wing_left.jpg') }}" width="90" height="90">
            </div>
            <div class="flex-grid-child-2">
                {% block content %}

                {% endblock%}
            </div>
            <div class="flex-grid-child-3" >
                <img src=" {{ url_for('static', filename='img/gym_wing.png') }}" width="90" height="90">
            </div>
        </div>
    </section>
    </main>
</body>
</html>